.staff-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.staff-main {
  margin-left: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.staff-content {
  padding: 2rem;
  flex: 1;
}