.layout {
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;
  color: #111827;
}

.mainSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}
