.container {
  display: flex;
  min-height: 100vh;
  background: #f5f7fa;
  font-family: "Inter", sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px 24px;
  background: #f9fbff;
  overflow-y: auto;
}
